body{
    overflow-x: hidden;
    font-family: "Times New Roman", Times, serif;
}
.home-header{
    background-color: #14425d;
}

.header-introduction{
    white-space: nowrap;
    background-color: #fff !important;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.home-body{
    background-color: #f4f4f4;
    background-image: linear-gradient(#d2d2d2, #f4f4f4);
}

.navbar-expand-lg .navbar-nav {
    width: 100%;
}

.navbar-expand-lg .navbar-nav .dropdown-hover{
    padding: 13px;
}

.dropdown-hover:hover, .dropdown-hover:focus{
    background-color: #31708f;
}

.navbar-expand-lg .navbar-nav .dropdown .dropdown-menu{
    background-color: #31708f;
    margin-top: 10px;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    width: 500px;
    padding: 5px;
}

.navbar-expand-lg .navbar-nav .dropdown .dropdown-menu .ul-menu{
    padding-inline-start: 0;
}

.navbar-expand-lg .navbar-nav .dropdown .dropdown-menu .ul-menu li{
    padding: 2px 5px 2px 5px;
    text-align: start;
    list-style: none;
}

.navbar-expand-lg .navbar-nav .dropdown .dropdown-menu .ul-menu li:hover{
    background-color: #14425d;
}

.navbar-expand-lg .navbar-nav .dropdown .dropdown-menu .ul-menu li a{
    text-decoration: none;
    color: white;
}

.title{
    font-size: 20px;
    border-bottom: 1px solid #000;
}
.novel{
    display: flex;
    justify-content: center;
}
.novel img.novel-image{
    width: 100%;
    box-shadow: 0 1px 2px #B5B5B5;
}
.novel div.novel-name{
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    color: #f4f4f4;
    background-color: rgba(0, 0, 0, 0.6);
    text-shadow: 1px 2px 2px #000;
    font-size: 14px;
}

.new-novel{
    padding: 10px 0;
    border-bottom: 1px dashed #ccc;
}
.new-novel .new-novel-name, .new-novel .new-novel-genre, .new-novel .new-novel-chapter, .new-novel .updated-time{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: 1px dashed #ccc;
}
.new-novel .new-novel-chapter{
    font-weight: 600;
    color: #31708f;
}
.new-novel .new-novel-name{
    font-weight: 600;
}
.home-section .novel-genres{
    border: 2px solid #d9e1e4;
    background-color: #ecf0f1;
}

.home-section .novel-genres .title{
    border-bottom: 4px solid #e7e7e7;
}

.home-section .novel-genres .genre-list{
    padding: 10px 0;
}

.home-section .novel-genres .genre-list .genre-item{
    padding-left: 40px;
}
.home-section .novel-genres .genre-list .genre-item:hover{
    cursor: pointer;
    background-color: #d2d2d2;
}

.footer{
    margin-bottom: 0;
    background-color: #14425d;
}

@media screen and (min-width: 992px) {
    .container{
        width: 1100px !important;
    }
}